{% extends 'inflearn_lecture/base.html' %} {% block content %}
<div class="si-container">
  <form method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <div class="mb-3">
      <label for="id" class="form-label">id</label>
      <input name="email" type="text" class="form-control" id="id" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input name="password" type="password" class="form-control" id="exampleInputPassword1" />
    </div>
    <button type="submit" class="btn btn-primary">회원가입</button>
  </form>
</div>

{% endblock %}
